<h1 mat-dialog-title>Create project</h1>
<div mat-dialog-content [formGroup]="form">
  <div class="form">
    <mat-form-field appearance="outline"  class="form__field">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Create Jira" formControlName="title">
      <mat-error *ngIf="_title.errors?.required">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form__field">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" ></textarea>
      <mat-error *ngIf="_description.errors?.required">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>

  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="handleClose()">Cancel</button>
  <button mat-raised-button color="primary" (click)="handleCreate()">Save</button>
</mat-dialog-actions>
