<header class="header">
  <mat-toolbar color="primary">
  <h3 class="header__logo" matTooltip="Back to all projects">Jira</h3>
  <span class="example-spacer"></span>
      <span>Hello, {{displayName | titlecase}}</span>
      <img class="header__avatar" src="{{this.photoURL?.length > 0 ? this.photoURL : 'assets/profile-user.svg'}}" alt="Avatar">
  <button mat-icon-button class="example-icon logout-icon" aria-label="logout icon" (click) = "handleLogout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
</header>
