:host {display: block;}
.project {
  position: relative;
  user-select: none;
  height: 100%;
  h1 {
    text-align: center;
    user-select: none;
  }

  &__list {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;

    margin: auto;

    @media (max-width: 768px){
      width: 100%;
      justify-content: center;
    }
  }

  &__item {
    margin: 30px;
    width: 250px;
    cursor: pointer;
    user-select: none;
    height: 100%;
  }

  &__card {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ebecf0;
  }

  &__card-action {
    height: fit-content;
    align-self: flex-end;

  }

  &__card-content {
    flex-grow: 1;
  }

  &__add-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;

    @media (max-width: 768px){
      bottom: 20px;
      right: 20px;
    }
  }

  &__helper-text {
    text-align: center;
  }
}
